/* All common stylesheet codes should come here */

@import "global";
body {
    font-family: $font-secondary;
}

.btn-theme {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid;
    display: inline-block;
    padding: 9px 18px;
    margin: 1em 0;
    text-decoration: none;
}

.header-abs {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 16;
}

.scrollFixed {
    background: rgba(0, 0, 0, 0.9);
}

.fix-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.section-title {
    font-family: $font-primary;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1em 0;
    letter-spacing: 2px;
}

.backtotop {
    position: fixed;
    right: 0;
    opacity: 0;
    bottom: 30px;
    border-radius: 50%;
    background: $color-main;
    color: $color-white;
    cursor: pointer;
    @include transition(all 0.35s);
    &:hover {
        box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.6);
    }
    i {
        padding: 15px;
    }
    &.active{
        right: 30px;
        opacity: 1;
    }
}

//navbar css
.navbar {
    border: 0;
    @include transition(all 0.5s);
    .contact-header {
        span {
            display: inline-block;
            margin-left: 25px;
            color: $color-white;
        }
    }
    .fix-logo-top {
        position: fixed;
        width: 70px;
        top: -100px;
        left: calc(50% - 35px);
        @include transition(all 0.5s);
    }
}

.nav {
    li {
        a {
            padding: 8px 15px;
            margin: 3px;
            color: #ccc;
            text-transform: uppercase;
            &:focus {
                background-color: transparent;
                box-shadow: 0 0 0px 0px #ddd;
            }
            &:hover {
                background-color: transparent;
                box-shadow: 0 0 1px 1px $color-white;
                color: $color-white;
            }
        }
    }
}

.head-social {
    li {
        a {
            padding: 5px;
            margin: 3px;
            color: #ccc;
            &:focus {
                background-color: transparent;
                box-shadow: 0 0 0 0;
            }
            &:hover {
                background-color: transparent;
                box-shadow: 0 0 0 0;
                color: $color-white;
            }
        }
    }
}

//carousel css
.carousel {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
    .carousel-inner {
        .item {
            .sub-item {
                position: absolute;
                width: 70%;
                left: 15%;
                top: 25%;
                h1 {
                    font-size: 4rem;
                    font-weight: 900;
                    color: #ddd;
                    text-shadow: 4px 4px 10px $color-black;
                    letter-spacing: 3px;
                }
            }
        }
    }
    .carousel-indicators {
        li {
            width: 20px;
            height: 20px;
            border: 4px solid #aaa;
            background-color: $color-white;
        }
        .active {
            width: 20px;
            height: 20px;
            border: 4px solid $color-black;
            background-color: $color-white;
        }
    }
}

//footer css
footer {
    background-color: $color-base;
    color: lighten($color-base, 50%);
    .footer {
        .table {
            tbody {
                tr {
                    @include transition(all 0.35s);
                    td {
                        border: 0;
                        a {
                            color: lighten($color-base, 50%);
                            text-decoration: none;
                            @include transition(all 0.35s);
                            &:hover {
                                color: lighten($color-main, 10%);
                            }
                        }
                        form {
                            @extend .relative-box;
                            input {
                                background-color: #444;
                                border: 1px solid #555;
                                padding: 10px;
                                border-radius: 2px;
                                width: 100%;
                            }
                            span {
                                position: absolute;
                                right: 15px;
                                top: 10px;
                            }
                        }
                    }
                    th {
                        color: $color-white;
                        height: 123px;
                        vertical-align: middle;
                        text-transform: uppercase;
                        border: 0;
                        p::after {
                            content: "";
                            display: block;
                            width: 50px;
                            height: 4px;
                            border: 1px solid $color-main;
                            margin-top: 6px;
                        }
                    }
                }
                .tw:hover{
                    @extend .twitter-text;
                    a{
                        @extend .twitter-text;
                    }
                }
                .fb:hover{
                    @extend .facebook-text;
                    a{
                        @extend .facebook-text;
                    }
                }
                .pin:hover{
                    @extend .pinterest-text;
                    a{
                        @extend .pinterest-text;
                    }
                }
                .insta:hover{
                    @extend .instagram-text;
                    a{
                        @extend .instagram-text;
                    }
                }
            }
        }
    }
    .copyrights {
        border-top: 1px solid lighten($color-base, 40%);
        color: lighten($color-base, 40%);
        p {
            text-transform: uppercase;
            font-size: 0.8rem;
            a{
                color: lighten($color-base, 50%);
                text-decoration: none;
                @include transition(all 0.35s);
                &:hover{
                    color: lighten($color-main, 10%);
                }
            }
            &.credits{
                text-align: right;
            }
        }
    }
}

// Homepage Events
#homepage-events {
    @extend .relative-box;
    background-color: darken($color-white, 5%);
    padding: 30px 0 50px;
    .title {
        h2 {
            @extend .section-title;
            color: $color-black;
        }
    }
    .events-section {
        @extend .relative-box;
        >div:nth-child(odd) {
            padding-left: 0;
            padding-right: 10px;
        }
        >div:nth-child(even) {
            padding-left: 10px;
            padding-right: 0;
        }
        .events-box {
            @extend .relative-box;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 40px 60px;
            margin-bottom: 1rem;
            border: 4px solid transparent;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
            }
            &.dark {
                border-color: $color-special-blue;
                &:before {
                    background-color: rgba($color-special-blue, 0.6);
                }
                .box-details {
                    color: $color-white;
                    .box-description {
                        color: darken($color-white, 15%);
                    }
                    .btn-link {
                        border-color: $color-main;
                        color: $color-main;
                        @include border-radius(2px);
                    }
                }
            }
            &.light {
                border-color: darken($color-white, 20%);
                @include border-radius(2px);
                &:before {
                    background-color: rgba($color-white, 0.8);
                }
                .box-details {
                    color: $color-black;
                    .btn-link {
                        border-color: $color-black;
                        color: $color-black;
                    }
                }
            }
            .box-details {
                @extend .relative-box;
                .box-heading {
                    font-family: $font-primary;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin: 1em 0;
                }
                .box-description {
                    font-size: 1rem;
                    margin: 1em 0;
                }
                .btn-link {
                    @extend .btn-theme;
                }
            }
        }
    }
}

//homepage quotes------------------------------------------------------------------------------------------------------------
/*#homepage-quotes {
    .flex-row {
        display: flex;
        flex-direction: row;
        .quote-flex {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            h1 {
                font-size: 2.5rem;
                font-weight: 900;
            }
        }
    }
}*/

#homepage-quotes{
    @extend .relative-box;
    .quotes-text{
        display: table;
        width: 100%;
        h3{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 2.5rem;
            font-weight: 700;
            font-family: $font-primary;
        }
    }
}

//homepage statistics------------------------------------------------------------------------------------------------------------
#homepage-statistics {
    @extend .relative-box;
    padding: 30px 0 50px;
    background-image: url(../img/skyline.jpg);
    background-position: center top;
    background-size: cover;
    color: #ddd;
    .counter-box {
        @extend .relative-box;
        border: 3px solid #666;
        border-bottom: 0;
        .counter-count {
            position: absolute;
            bottom: -12px;
            width: 100px;
            left: calc(50% - 50px);
            font-size: 30px;
            color: #e51e3b;
            background: transparent;
            line-height: 1;
        }
        i {
            position: absolute;
            bottom: -30px;
            width: 12px;
            left: calc(50% - 6px);
        }
        .count-lr-bor {
            position: absolute;
            width: 100%;
            bottom: 18px;
            &:before {
                content: "";
                position: absolute;
                width: calc(50% - 50px);
                background: #676767;
                height: 3px;
                left: 0px;
                top: 15px;
            }
            &:after {
                content: "";
                position: absolute;
                width: calc(50% - 50px);
                background: #676767;
                height: 3px;
                right: 0px;
                top: 15px;
            }
        }
    }
    .stats-text {
        h3 {}
        h2 {
            color: $color-white;
        }
        p {}
    }
}

// Homepage Service--------------------------------------------------------------------------------------------------------------
#homepage-services {
    @extend .relative-box;
    background-color: $color-base;
    padding: 30px 0 50px;
    .title {
        h2 {
            @extend .section-title;
            color: $color-white;
        }
    }
    .services-section {
        @extend .relative-box;
        border: 8px solid lighten($color-base, 10%);
        padding: 50px 0 0 30px;
        margin: 50px 0;
        color: darken($color-white, 10%);
        .services-description {
            padding-top: 50px;
            p {
                font-size: 0.9rem;
                line-height: 1.5em;
                margin-bottom: 2em;
            }
            .btn-link {
                @extend .btn-theme;
                border-color: lighten($color-base, 30%);
                color: $color-main;
            }
        }
        .services-grid {
            padding: 30px 0 30px 30px;
            background: $color-base;
            @include transform(translateX(8px));
            margin-top: -140px;
            .list-grid {
                li {
                    width: 50%;
                    padding: 0;
                    float: left;
                    a {
                        display: block;
                        height: 180px;
                        background-color: $color-white;
                        color: $color-black;
                        position: relative;
                        span {
                            position: absolute;
                            left: 20px;
                            display: block;
                            top: 50px;
                            word-spacing: 100vw;
                            text-transform: uppercase;
                            font-size: 0.85rem;
                            font-weight: 700;
                            font-family: $font-secondary;
                            letter-spacing: 1px;
                        }
                        i {
                            position: absolute;
                            right: 20px;
                            display: block;
                            top: 130px;
                            font-size: 1.5rem;
                        }
                    }
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(6) {
                        a {
                            background-color: $color-main;
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}

#homepage-feedback {
    @extend .relative-box;
    padding: 30px 0 50px;
    .test-head {
        border: 3px solid #666;
        p {
            position: absolute;
            top: -12px;
            font-size: 12px;
            background: $color-white;
            left: calc(50% - 88px);
        }
        h3 {}
    }
    .testimonial-box {
        .testimonials {
            display: none;
            h4 {
                font-style: italic;
                line-height: 1.7;
                color: #444;
            }
            p {
                color: #999;
            }
            span {
                font-size: 12px;
                letter-spacing: 2px;
                color: #999;
            }
        }
        .test-active {
            display: block;
        }
    }
    .testimonial-bullets {
        span {
            display: inline-block;
            width: 20px;
            height: 10px;
            border-left: 1px solid #999;
            border-right: 1px solid #999;
            border-top: 1px solid #999;
            border-bottom: 1px solid #999;
            margin: 10px;
        }
        .test-bullet-active {
            border-left: 10px solid $color-main;
            border-right: 1px solid $color-main;
            border-top: 1px solid $color-main;
            border-bottom: 1px solid $color-main;
        }
    }
}